<div class="bg-light lter b-b wrapper-md text-center">
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h1 class="m-n font-thin h1 text-black">Logowanie</h1>
        </div>
    </div>
</div>
<div class="container w-xxl w-auto-xs" >
    <a href class="navbar-brand block m-t"></a>
    <div class="m-b-lg">
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">

            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signup()" >Zaloguj się</button>
        </form>
    </div>
</div>

